<form action="/login" method="POST">
  <fieldset>
    <legend>Log In Below:</legend></br>
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:"><br></br>
    <input type="submit" value="Log In">
  </fieldset>
</form><br></br>
<a href="/">Home</a>
