<form action="/signup" method="POST">
  <fieldset>
    <legend>Sign Up Below</legend>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password"></br>
    <input type="submit" value="Sign Up">
  </fieldset>
</form>
