<form action="/signup" method="POST">
  <fieldset>
    <legend>Sign Up Below:</legend></br>
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="email" placeholder="Email:">
    <input type="text" name="password" placeholder="Password:"><br></br>
    <input type="submit" value="Sign Up" class="btn btn-primary">
  </fieldset>
</form><br></br>
<a href="/">Home</a>
