<p>Here you can post reviews of your favorite (and not so favorite) restaurants.  Bon appetit!</p>
<h4>Click on one of the following links below to:</h4> <!--CRUD-->
  <ul>
    <li><a href="/reviews/new">(C)reate new review</a></li>
    <li><a href="/reviews">(R)ead review</a></li><!--show user's revoews to select one to show.erb -->
    <li><a href="/reviews">(U)pdate review</li>
    <li><a href="/reviews">(D)elete review</li>
    <!--<li><a href="/reviews/all">(S)ee all reviews posted by users</a></li>
    -->
  </ul>
<a href="/">Home</a>
