<h3>Here is a list of all restaurant reviews posted by users (Click on a 'link'):</h3>
<ul>
  <%@reviews.each do |review|%>
  <li>
    <a href="/reviews/<%=review.id%>"><%=review.rest_name%>
    </a> by
    <% if current_user == review.user %>
      you
    <% else %>
      <%= review.user.username %>
    <% end %>
  </li>
  <%end%>
</ul>
<a href="/reviews">(S)ee all your reviews</a><br></br>
<a href="/reviews/restaurants">(S)ee all restaurants</a><br></br>
<a href="/">Home</a>
