Average<form action="/reviews/new" method="POST">
  <fieldset>
    <legend>Create New Restaurant Review Below:</legend></br>
    <input type="text" name="rest_name" placeholder="Restaurant Name:">
    <input type="text" name="content" placeholder="Restaurant Review:">
    <input type="text" name="cuisine" placeholder="Cuisine:">
      <p>Please choose a rating for the restaurant below:</p>
      <input type="radio" name="rating" value="Excellent"><label for="Excellent"> Excellent</label>
      <input type="radio" name="rating" value="Good"><label for="Good"> Good</label>
      <input type="radio" name="rating" value="Average"><label for="Average"> Average</label>
      <input type="radio" name="rating" value="Poor"><label for="Poor"> Poor</label>
    <input type="submit" value="Save Review">
  </fieldset>
</form><br></br>
<a href="/">Home</a>
