<!DOCTYPE html>
<html>
  <head>
    <title>My Restaurant Review</title>
  </head>
  <body>
      <%= yield %> <!-- The layout.erb will render this html view throughout all pages via yield-->
  </body>
</html>
