<!DOCTYPE html>
<html>
  <head>
    <title>My Restaurant Review</title>
  </head>
  <body>
    <nav>
      <%if logged_in?%>
        <a href="/reviews/new">(C)reate new review</a>
        <a href="/reviews">(R)ead review</a>
        <a href="/logout">Logout</a>
        <h3>Welcome, <%=current_user.username.upcase_first%>!</h3> <!--capitalize first letter of name-->
      <%else%>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      <%end%>
    </nav>
    <div class = "container">
      <h1>My Restaurant Review</h1>
      <%= yield %> <!-- The layout.erb will render this html view throughout all pages via yield-->

    </div>
  </body>
</html>
